* {
  max-width: 120%;
}

.navbar .dropdown-menu a:hover {
  color: #616161 !important;
}

.darken-grey-text {
  color: #2e2e2e;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.container-fluid,
.row,
.col-md-6 {
  height: 100%;
}

.fleche {
  width: 60px;
  height: 60px;
}

.logo {
  margin-top: 30%;
  width: 40%;
  justify-content: center;
  align-items: center;
}
