.card_2 {
  background-color: rgb(16 13 13 / 60%);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 20% !important;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: red;
}

a:hover {
  text-decoration: none;
  color: rgb(204, 207, 0);
}

.footer {
  color: aliceblue;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  font-size: 12px;
}

body {
  background-image: url("../img/Back.svg");
  background-size: cover;
  background-attachment: fixed;
}
