.card {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: rgb(16 13 13 / 60%);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 7%;
}

.card-img,
.card-img-bottom,
.card-img-top {
  width: 20%;
  margin-left: 32%;
  justify-content: center;
  align-items: center;
}

.container2 {
  margin: 0 auto;
}
