.accordion-button {
  height: 13vh;
}

.accordion {
  width: 100%;
  border-radius: 20px;
}

.accordion-item {
  border-radius: 10px;
}

.left-column {
  float: left;
  width: 70%;
  height: 100%;
  margin-top: 1%;
}

.right-column {
  float: left;
  width: 30%;
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 3%;
}
.container {
  margin-top: 3%;
  border-radius: 5px;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.accordion-body {
  margin-bottom: 20px;
}

.custom-card {
  margin: 0 auto;
  border: 1px solid #ccc;
  margin-bottom: 70px;
  background-color: #d7e2f7;
  padding: 10px;
  border-radius: 5px;
  width: 95%;
}

.custom-card-header {
  background-color: #b6b6b1;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.custom-card-title {
  margin: 0;
}

.custom-card-body {
  padding: 10px;
}

.custom-input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.text_indicateur {
  width: 100%;
  height: 20vh;
  resize: none;
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  overflow-y: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.lien_indicateur {
  width: 100%;
  height: 4vh;
  resize: none;
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  overflow-y: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.titreCommentaires {
  margin-top: 30px;
}

.commentaires-container {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
}

.commentaires-container p {
  margin: 0;
}

.commentaires-container ul {
  list-style: none;
  padding: 0;
}

.commentaires-container ul li {
  margin-bottom: 10px;
}

.custom-input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  position: relative; /* Ajout pour positionner le bouton dans l'input */
}

.input-field {
  display: flex;
  align-items: center;
  width: 100%;
}

.inside-input-button {
  margin-left: 10px;
  margin-bottom: 10px;
}

.lien_indicateur {
  width: calc(100% - 40px); /* Ajustez la largeur de l'input */
}
