
footer {
  position: relative;
  color: aliceblue;
  bottom: 0;
  width: 100%;
  background-color: #0d0b0b;
  font-size: 8px;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: scroll;
  white-space: nowrap;
  height: 250px;
}
